/* Home Page */
/* ........................... */
main {
  min-height: 34rem;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: unset;
}
.day-selected {
  opacity: 0.5;
}
.day-selected:focus,
.day-selected:hover,
.day-selected:active {
  opacity: 1;
}
img {
  width: 87%;
}

/* Footer  */
/* .......................... */
footer {
  background-color: #aaa;
  margin: 2rem auto 0rem;
}
